.sortingContainer {
  display: flex;
  gap: 0.5vw;
}

  .radioButtonLabel {
    border: 2px solid;
    border-radius: 5vw;
    background-color: #F24B4B;
    border-color: #252422;
    font-size: 1vw;
    font-weight: 00;
    color: white;
    height: 2.3vw;
    width: 11vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

.radioButtonLabel:hover {
  background-color: #252422;
  color: white;
}

.radioButton {
  display: none;
}

.active {
  background-color: #252422;
}

@media (max-width: 600px) {

.sortingContainer {
  display: flex;
  gap: 0.5vw;
}

.radioButtonLabel {
  border: 2px solid;
  border-radius: 5vw;
  background-color: #F24B4B;
  border-color: #252422;
  font-size: 4.5vw;
  font-weight: 00;
  color: white;
  height: 8vw;
  width: 29.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.radioButtonLabel:hover {
  background-color: #252422;
  color: white;
}

.radioButton {
  display: none;
}

.active {
  background-color: #252422;
}}
